#coockie{
    background-color: brown;
    height: 400px;
    width: 400px;
    border-radius: 200px;
    grid-column: 4 / 7;
    justify-self: center;
    grid-row: 3;
}

#rebirth{
    background: white;
    font-size: 25px;
    font-weight: bold;
    border-radius: 20px;
    grid-column: 4 / 7;
    grid-row: 8;
    height: 90px;
    width: 200px;
    justify-self: center;
}

#price, #owned{
    font-size: 25px;
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#name{
    font-size: 30px;
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

#coockie-counter{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    grid-column: 2 / 10;
    grid-row: 7;
    justify-self: center;
}

#clicker {
    background-color: red;
    border: 5px black solid;
    border-radius: 20px;
    width: 500px;
    height: 200px;
    float:right;
    grid-column: 17;
}

#container{
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    grid-template-rows: repeat(13, 100px);
}